.home__carousel-container {
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.home__carousel {
    width: 40%;
    min-width: 300px;
    margin-top: 80px;
}

.home__carousel-image {
    width: 250px;
}

